<div class="home-page">
<!-- Home page header starts -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <img src="images/logos.png">
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="index-signin.php" class="nav-link">{{ data.username }}</a></li>
                <li class="nav-item"><a ng-click="logout()" class="nav-link">Log Out</a></li>
            </ul>
          </div>
        </div>
    </nav>
    <!-- Home page header ends -->

<section class="ftco-menu">
<div class="container-fluid">
<div class="container">
<br>

    <!-- Chat list Markup starts -->
    
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="chat-list-container">
                    <div class="chat-list chat" id="style-13">
                        <ul class="list-group" ng-if="data.chatlist.length > 0">
                            <li class="list-group-item"
                                ng-repeat="friend in data.chatlist"
                                ng-click="selectFriendToChat(friend.id)"
                                ng-class="{'active':friend.id == data.selectedFriendId}"
                            >{{friend.username}}</li>
                        </ul>
                        <div class="alert alert-info" ng-if="data.chatlist.length === 0">
                            <strong>Raono sing online LURDD !!!</strong>
                        </div>
                    </div> 
                </div>
            </div>                   
    <!-- Chat List Markup ends -->

    <!-- Home page body start -->
    
            <!-- Message Area Markup starts -->
            <div class="col-12 col-sm-6 col-md-8">
                
                    <p ng-show="data.selectedFriendId !== null" ? true : false >
                    <br>
                        <img src="image/logo.png" style="height: 40px">
                        <span class="message-heading"><b>{{data.selectedFriendName}}</b></span>
                    </p>
                    <div class="message-list">
                        <ul class="message-thread" id="style-13">
                            <li ng-repeat="messagePacket in data.messages"
                                ng-class="{ 'align-right' : alignMessage(messagePacket.fromUserId) } ">
                                {{messagePacket.message}}
                            </li>
                        </ul>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 btn right-chat-textbox right-chat-outline-textbox">
                          <input ng-keydown="sendMessage($event)" type="text" id="message">
                        </div>
                    </div> 
                        
                
                
            </div>
            <!-- Message Area Markup ends -->
        </div>
    </div>
    <!-- Home page body start -->
</div>


</section>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      var height = $(window).height();
      $('.left-chat').css('height', (height - 92) + 'px');
      $('.right-header-contentChat').css('height', (height - 120) + 'px');
    });
  </script>